<div class="container">

  <!-- Footer Widgets
  ============================================= -->
  <div class="footer-widgets-wrap clearfix">

    <div class="col_two_third">

      <div class="col_half">

        <div class="widget clearfix">

          <img src="/images/footer-widget-logo.png" alt="" class="footer-logo">

          <p>เครื่องทดสอบแรงดึง-กด, เครื่องทดสอบยาง, เครื่องทดสอบเฟอร์นิเจอร์, เครื่องวัดและเครื่องทดสอบในอุตสาหกรรมต่างๆ</p>

          <div style="background: url('/images/world-map.png') no-repeat center center; background-size: 100%;">
            <address>
              <strong>Address:</strong><br>
              ถนนกาญจนาภิเษก 55/5 หมู่ 7<br>
              ต.เสาธงหิน อ.บางใหญ่<br>
              จ.นนทบุรี, 11140<br>
            </address>
            <abbr title="Phone Number"><strong>Phone:</strong></abbr> (02) 926 6077<br>
            <abbr title="Fax"><strong>Fax:</strong></abbr> (02) 926 6079 ext.12<br>
            <abbr title="Email Address"><strong>Email:</strong></abbr> aeon_int@truemail.co.th
          </div>

        </div>

      </div>

      <div class="col_half col_last">

        <div class="widget widget_links clearfix">
          <h4>Products</h4>

          <ul>
            <li><a href="http://codex.wordpress.org/">เครื่องทดสอบยาง - Rubber Testing Instruments</a></li>
            <li><a href="http://wordpress.org/support/forum/requests-and-feedback">เครื่องทดสอบยางและล้อรถยนต์ - Tire & Wheel Testing Machine</a></li>
            <li><a href="http://wordpress.org/extend/plugins/">เครื่องทดสอบเฟอร์นิเจอร์ - Furniture Testing Machine</a></li>
            <li><a href="http://wordpress.org/support/">เครื่องทดสอบแรงดึง-กด - Universal Testing Machine</a></li>
            <li><a href="http://wordpress.org/extend/themes/">เครื่องทดสอบอื่นๆ - Special Testing Machine</a></li>
            <li><a href="http://wordpress.org/news/">เครื่องวัดรูปร่างระเบบเลเซอร์ - Laser Profilometer</a></li>
          </ul>

        </div>

      </div>
    </div>

    <div class="col_one_third col_last">

      <div class="widget subscribe-widget clearfix">
        <h5><strong>Subscribe</strong> to get Important News, Amazing Offers &amp; Products Update:</h5>
        <div class="widget-subscribe-form-result"></div>
        <form id="widget-subscribe-form" action="include/subscribe.php" role="form" method="post" class="nobottommargin">
          <div class="input-group divcenter">
            <div class="input-group-prepend">
              <div class="input-group-text"><i class="icon-email2"></i></div>
            </div>
            <input type="email" id="widget-subscribe-form-email" name="widget-subscribe-form-email" class="form-control required email" placeholder="Enter your Email">
            <div class="input-group-append">
              <button class="btn btn-success" type="submit">Subscribe</button>
            </div>
          </div>
        </form>
      </div>

      <div class="widget clearfix" style="margin-bottom: -20px;">

        <div class="row">

          <div class="col-lg-6 clearfix bottommargin-sm">
            <a href="#" class="social-icon si-dark si-colored si-gplus nobottommargin" style="margin-right: 10px;">
              <i class="icon-gplus"></i>
              <i class="icon-gplus"></i>
            </a>
            <a href="#"><small style="display: block; margin-top: 3px;"><strong>Visit us</strong><br>on Google+</small></a>
          </div>

        </div>
      </div>
    </div>

  </div><!-- .footer-widgets-wrap end -->

</div>

<!-- Copyrights
============================================= -->
<div id="copyrights">

  <div class="container clearfix">

    <div class="col_half">
      Copyrights &copy; 2018 All Rights Reserved by Aeon Intertech Co.,Ltd<br>
      <div class="copyright-links"><a href="#">Terms of Use</a> / <a href="#">Privacy Policy</a></div>
    </div>

  </div>

</div><!-- #copyrights end -->
