<nav id="primary-menu">

  <ul>
    <li class="current"><a href="/index.html"><div>หน้าแรก</div></a></li>
    <li class="mega-menu"><a href="/screen/products.html"><div>สินค้าทั้งหมด</div></a>
      <div class="mega-menu-content style-2 clearfix">
        <ul class="mega-menu-column col-lg-4">
          <li class="mega-menu-title"><a href="/screen/category/rubbertesting.html"><div><i class="icon-th-large"></i>เครื่องทดสอบยาง - Rubber Testing Instruments</div></a>
            <ul>
              <li><a href="/screen/products/rubbertesting/mv.html"><div>Mooney Viscometer</div></a></li>
              <li><a href="portfolio-3-left-sidebar.html"><div>Moving Die Rheometer (MDR)</div></a></li>
              <li><a href="about-me.html"><div>Rubber Process Analyzer (RPA) - เครื่องทดสอบการไหลของยาง</div></a></li>
              <li><a href="team.html"><div>Sample Cutter - เครื่องตัดตัวอย่าง</div></a></li>
              <li><a href="jobs.html"><div>Dynamic Mechanical Analyzer (DMA)</div></a></li>
              <li><a href="side-navigation.html"><div>Automated Density & Hardness Tester</div></a></li>
              <br><br><br><br><br>
            </ul>
          </li>
          <li class="mega-menu-title"><a href="/screen/category/universaltesting.html"><div><i class="icon-th-large"></i>เครื่องทดสอบสากล - Universal Testing Machine</div></a>
            <ul>
              <li><a href="login-register.html"><div>Universal Testing Machine - เครื่องวัดแรงดึง-กด</div></a></li>
              <li><a href="login-register-2.html"><div>Hydraulic Universal Testing Machine - เครื่องวัดแรงดึง-กดระบบไฮโดรลิค</div></a></li>
              <li><a href="login-register.html"><div>Impact Testing Machine - เครื่องวัดแรงกระแทก</div></a></li>
              <li><a href="login-register-2.html"><div>Hardness Tester - เครื่องทดสอบความแข็ง</div></a></li>
            </ul>
          </li>
        </ul>
        <ul class="mega-menu-column col-lg-4">
          <li class="mega-menu-title"><a href="/screen/category/tirewheeltesting.html"><div><i class="icon-th-large"></i>เครื่องทดสอบยางและล้อรถยนต์ - Tire & Wheel Testing Machine</div></a>
            <ul>
              <li><a href="services.html"><div>Uniformity</div></a></li>
              <li><a href="services-2.html"><div>Dynamic Balance</div></a></li>
              <li><a href="services-3.html"><div>Geometry Systems</div></a></li>
              <li><a href="faqs.html"><div>Modular Tire Management System</div></a></li>
              <li><a href="faqs-2.html"><div>Tire X-ray</div></a></li>
              <li><a href="faqs-3.html"><div>Buffing Machine for Retreading</div></a></li>
              <li><a href="maintenance.html"><div>Ply Splice Monitor</div></a></li>
              <li><a href="faqs-4.html"><div>Tire ID System</div></a></li>
              <br>
            </ul>
          </li>
          <li class="mega-menu-title"><a href="/screen/category/specialtesting.html"><div><i class="icon-th-large"></i>เครื่องทดสอบอื่นๆ - Special Testing Machine</div></a>
            <ul>
              <li><a href="full-width.html"><div>Shock Testing Machine</div></a></li>
              <li><a href="full-width-wide.html"><div>Reverse Bend Testing Machine</div></a></li>
              <li><a href="left-sidebar.html"><div>Creep Behaviour Testing Machine</div></a></li>
              <li><a href="right-sidebar.html"><div>Friction Test Stand</div></a></li>
              <li><a href="both-sidebar.html"><div>Torsion Test Stand</div></a></li>
            </ul>
          </li>
        </ul>
        <ul class="mega-menu-column col-lg-4">
          <li class="mega-menu-title"><a href="/screen/category/furnituretesting.html"><div><i class="icon-th-large"></i>เครื่องทดสอบเฟอร์นิเจอร์ - Furniture Testing Machine</div></a>
            <ul>
              <li><a href="full-width.html"><div>Seat Furniture Testing</div></a></li>
              <li><a href="full-width-wide.html"><div>Drawer Testing</div></a></li>
              <li><a href="right-sidebar.html"><div>Bed & Mattress Testing</div></a></li>
              <li><a href="left-sidebar.html"><div>Other Accessories for Testing</div></a></li>
              <br><br><br><br><br><br><br><br>
            </ul>
          </li>
          <li class="mega-menu-title"><a href="/screen/category/laserprofilometer.html"><div><i class="icon-th-large"></i>เครื่องวัดรูปร่างระบบเลเซอร์ - Laser Profilometer</div></a>
            <ul>
              <li><a href="login-register.html"><div>Profile 360</div></a></li>
              <li><a href="login-register-2.html"><div>Profile 360 (Pipe)</div></a></li>
              <li><a href="login-register-3.html"><div>Profile 360 (Sheet)</div></a></li>
              <li><a href="login-1.html"><div>Profile 360 (Wire)</div></a></li>
              <li><a href="login-2.html"><div>Surface 360</div></a></li>
            </ul>
          </li>
        </ul>
      </div>
    </li>
    <li class="mega-menu"><a href="/screen/services.html"><div>บริการของเรา</div></a></li>
    <li class="mega-menu"><a href="/screen/catalogue.html"><div>Catalogue สินค้า</div></a></li>
    <li><a href="/screen/contact.html"><div>ติดต่อเรา</div></a></li>
    <li class="mega-menu"><a href="#" data-toggle="modal" data-target="#contactFormModal"><div>ขอใบเสนอราคา</div></a></li>
  </ul>
</nav>
