<div class="sidebar-widgets-wrap">

  <div class="widget widget_links clearfix">
    <h4>Products Shortcut</h4>
    <a href="#"><h5>เครื่องทดสอบยาง - Rubber Testing Instruments</h5></a>
    <ul class="bottommargin-sm">
      <li><a href="left-sidebar.html"><div>Mooney Viscometer</div></a></li>
      <li><a href="portfolio-3-left-sidebar.html"><div>Moving Die Rheometer (MDR)</div></a></li>
      <li><a href="about-me.html"><div>Rubber Process Analyzer (RPA)</div></a></li>
      <li><a href="team.html"><div>Sample Cutter - เครื่องตัดตัวอย่าง</div></a></li>
      <li><a href="jobs.html"><div>Dynamic Mechanical Analyzer (DMA)</div></a></li>
      <li><a href="side-navigation.html"><div>Automated Density & Hardness Tester</div></a></li>
    </ul>
    <a href="#"><h5>เครื่องทดสอบยางและล้อรถยนต์ - Tire & Wheel Testing Machine</h5></a>
    <ul class="bottommargin-sm">
      <li><a href="services.html"><div>Uniformity</div></a></li>
      <li><a href="services-2.html"><div>Dynamic Balance</div></a></li>
      <li><a href="services-3.html"><div>Geometry Systems</div></a></li>
      <li><a href="faqs.html"><div>Modular Tire Management System</div></a></li>
      <li><a href="faqs-2.html"><div>Tire X-ray</div></a></li>
      <li><a href="faqs-3.html"><div>Buffing Machine for Retreading</div></a></li>
      <li><a href="maintenance.html"><div>Ply Splice Monitor</div></a></li>
      <li><a href="faqs-4.html"><div>Tire ID System</div></a></li>
    </ul>
    <a href="#"><h5>เครื่องทดสอบเฟอร์นิเจอร์ - Furniture Testing Machine</h5></a>
    <ul class="bottommargin-sm">
      <li><a href="full-width.html"><div>Seat Furniture Testing</div></a></li>
      <li><a href="full-width-wide.html"><div>Drawer Testing</div></a></li>
      <li><a href="right-sidebar.html"><div>Bed & Mattress Testing</div></a></li>
      <li><a href="left-sidebar.html"><div>Other Accessories for Testing</div></a></li>
    </ul>
    <a href="#"><h5>เครื่องทดสอบสากล - Universal Testing Machine</h5></a>
    <ul class="bottommargin-sm">
      <li><a href="login-register.html"><div>Universal Testing Machine - เครื่องวัดแรงดึง-กด</div></a></li>
      <li><a href="login-register-2.html"><div>Hydraulic Universal Testing Machine - เครื่องวัดแรงดึง-กดระบบไฮโดรลิค</div></a></li>
      <li><a href="login-register.html"><div>Impact Testing Machine - เครื่องวัดแรงกระแทก</div></a></li>
      <li><a href="login-register-2.html"><div>Hardness Tester - เครื่องทดสอบความแข็ง</div></a></li>
    </ul>
    <a href="#"><h5>เครื่องทดสอบอื่นๆ - Special Testing Machine</h5></a>
    <ul class="bottommargin-sm">
      <li><a href="full-width.html"><div>Shock Testing Machine</div></a></li>
      <li><a href="full-width-wide.html"><div>Reverse Bend Testing Machine</div></a></li>
      <li><a href="left-sidebar.html"><div>Creep Behaviour Testing Machine</div></a></li>
      <li><a href="right-sidebar.html"><div>Friction Test Stand</div></a></li>
      <li><a href="both-sidebar.html"><div>Torsion Test Stand</div></a></li>
    </ul>
    <a href="#"><h5>เครื่องวัดรูปร่างระบบเลเซอร์ - Laser Profilometer</h5></a>
    <ul>
      <li><a href="login-register.html"><div>Profile 360</div></a></li>
      <li><a href="login-register-2.html"><div>Profile 360 (Pipe)</div></a></li>
      <li><a href="login-register-3.html"><div>Profile 360 (Sheet)</div></a></li>
      <li><a href="login-1.html"><div>Profile 360 (Wire)</div></a></li>
      <li><a href="login-2.html"><div>Surface 360</div></a></li>
    </ul>

  </div>

  <div class="widget quick-contact-widget clearfix">

    <h4>Quick Contact</h4>
    <div class="quick-contact-form-result"></div>
    <form id="quick-contact-form" name="quick-contact-form" action="include/quickcontact.php" method="post" class="quick-contact-form nobottommargin">
      <div class="form-process"></div>

      <input type="text" class="required sm-form-control input-block-level" id="quick-contact-form-name" name="quick-contact-form-name" value="" placeholder="Full Name" />
      <input type="text" class="required sm-form-control email input-block-level" id="quick-contact-form-email" name="quick-contact-form-email" value="" placeholder="Email Address" />
      <textarea class="required sm-form-control input-block-level short-textarea" id="quick-contact-form-message" name="quick-contact-form-message" rows="4" cols="30" placeholder="Message"></textarea>
      <input type="text" class="hidden" id="quick-contact-form-botcheck" name="quick-contact-form-botcheck" value="" />
      <button type="submit" id="quick-contact-form-submit" name="quick-contact-form-submit" class="button button-small button-3d nomargin" value="submit">Send Email</button>
    </form>

  </div>

</div>
